@{
    ViewBag.Title = "Home Page";
}

    <div>
        <div class="container">
            <img src="~/Content/Picknick.jpg" style="width: 100%;" />

        </div>
    </div>
    <div class="jumbotron">
        <h1><b>Pick niQ: Would you like to take a trip with lunch?"</b></h1>
        <p class="lead">We'll take the food to your beautiful place.</p>
        <p><a href="/Products/" class="btn btn-primary btn-lg">Find your favorite Products &raquo;</a></p>
    </div>
